.sidebar {
	overflow-x: hidden;
	overflow-y: auto;
}

.player {
	width: 210px;
	text-align: center;
}

.time-marker {
	
	display: inline;
	position: relative;
	vertical-align: center
}

.time-marker #track-current {
	float: left;	
}

.time-marker #track-length {
	float: right;	
}

#tracks tr td a.btn-lg {
   display:none;
}

#tracks tr:hover td a.btn-lg {
   display:inline;	
}

#tracks tr td:first-child {
	width: 70px;
	height: 42px;
}
